body #searchButton {
    background-image: url(https://media.istockphoto.com/id/513550806/photo/teenager-hipster-friends-partying-by-blowing-colorful-confetti-from-hands.jpg?b=1&s=612x612&w=0&k=20&c=VExiM_BC8aOEEzuFcAIFb_-bseq2HWBNDlpasRU6A98=) !important;
    background-size: cover;
    padding:80px 0 30px 0;
}

#mybutton {
	margin-top: 10%;
    margin-left: 25%;
    width: 550px;
    height: 80px;
}

#heading {
    text-align: center;
    color: red;
}

#subheading {
    text-align: center;
}

.mylist {
    
    align-items: center;
    margin-top: 5%;
    width: 550px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;

}

#input {
    width: 550px;
    height: 80px;

}

#button {

    width: 150px;
    height: 30px;
    margin-top: 10px;


}


